USER_ADDRESS=0xYourTargetWalletAddressqwe
PROXY_WALLET=0xYourProxyWalletAddressasd
PRIVATE_KEY=abc456def4567890abcdef1234567890abcdef1234567890abcdef1234567890 #private_key of PROXY_WALLET
CLOB_HTTP_URL=https://clob.polymarket.com
CLOB_WS_URL=wss://clob-ws.polymarket.com
MONGO_URI=mongodb://localhost:27017/polymarket_copytrading
RPC_URL=https://polygon-rpc.com
USDC_CONTRACT_ADDRESS=0x2791Bca1f2de4661ED88A30C99A7a9449Aa84174
FETCH_INTERVAL=1
TOO_OLD_TIMESTAMP=24
RETRY_LIMIT=3